#about,
#courses,
#follow {
  text-align: center;
}

.hero {
  background-image: url(https://pixelprowess.com/i/pow-laptopgrab.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
}
